{
	"openapi": "3.1.1",
	"info": {
		"title": "TWIN Node",
		"description": "REST API for TWIN - API Server.",
		"version": "1.0.0",
		"license": {
			"name": "Apache 2.0 License",
			"url": "https://opensource.org/licenses/Apache-2.0"
		}
	},
	"servers": [
		{
			"url": "https://node-api.twindev.org"
		}
	],
	"tags": [
		{
			"name": "Info",
			"description": "Information endpoints for the REST server."
		},
		{
			"name": "Health",
			"description": "Health endpoints for the REST server."
		},
		{
			"name": "Authentication",
			"description": "Authentication endpoints for the REST server."
		},
		{
			"name": "Authentication Admin",
			"description": "Authentication Admin endpoints for the REST server."
		},
		{
			"name": "Authentication Audit",
			"description": "Authentication audit endpoints for the REST server."
		},
		{
			"name": "Identity",
			"description": "Service to provide all features related to digital identity."
		},
		{
			"name": "Identity Profile",
			"description": "Service to provide all features related to digital identity profiles."
		}
	],
	"paths": {
		"/": {
			"get": {
				"operationId": "serverHealth",
				"summary": "Get the health for the server",
				"tags": ["Health"],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "The health of the server.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServerHealthResponse"
								},
								"examples": {
									"healthResponseOK": {
										"summary": "The response for the health request.",
										"value": {
											"status": "ok",
											"components": [
												{
													"source": "Database",
													"status": "ok",
													"category": "connectivity"
												},
												{
													"source": "Storage",
													"status": "ok",
													"category": "connectivity"
												}
											]
										}
									},
									"healthResponseWarning": {
										"summary": "The response for the health request with warnings.",
										"value": {
											"status": "warning",
											"components": [
												{
													"source": "Database",
													"status": "warning",
													"description": "slowRunning",
													"category": "connectivity"
												},
												{
													"source": "Storage",
													"status": "ok",
													"category": "connectivity"
												}
											]
										}
									},
									"healthResponseError": {
										"summary": "The response for the health request with errors.",
										"value": {
											"status": "error",
											"components": [
												{
													"source": "Database",
													"status": "ok",
													"category": "connectivity"
												},
												{
													"source": "Storage",
													"status": "error",
													"description": "storageFull",
													"category": "connectivity"
												}
											]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/favicon.ico": {
			"get": {
				"operationId": "serverFavIcon",
				"summary": "Get the favicon for the server",
				"tags": ["Info"],
				"responses": {
					"200": {
						"description": "The favicon for the server.",
						"content": {
							"image/x-icon": {
								"schema": {
									"$ref": "#/components/schemas/ServerFavIconResponse"
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/info": {
			"get": {
				"operationId": "serverInformation",
				"summary": "Get the information for the server",
				"tags": ["Info"],
				"responses": {
					"200": {
						"description": "The information about the server.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServerInfo"
								},
								"examples": {
									"informationResponse": {
										"summary": "The response for the information request.",
										"value": {
											"name": "API Server",
											"version": "1.0.0"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/livez": {
			"get": {
				"operationId": "serverLivez",
				"summary": "Get the livez status for the server",
				"tags": ["Info"],
				"responses": {
					"200": {
						"description": "The livez of the server.",
						"content": {
							"text/plain": {
								"schema": {
									"$ref": "#/components/schemas/ServerLivezResponse"
								},
								"examples": {
									"livezResponseOK": {
										"summary": "The response for the liveness request.",
										"value": "alive"
									},
									"livezResponseFailure": {
										"summary": "The response for the liveness request with errors.",
										"value": "dead"
									}
								}
							}
						},
						"headers": {
							"content-type": {
								"schema": {
									"type": "string"
								},
								"description": "e.g. text/plain"
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/readyz": {
			"get": {
				"operationId": "serverReadyz",
				"summary": "Get the readyz status for the server",
				"tags": ["Info"],
				"responses": {
					"200": {
						"description": "The readyz of the server.",
						"content": {
							"text/plain": {
								"schema": {
									"$ref": "#/components/schemas/ServerReadyzResponse"
								},
								"examples": {
									"readyzResponseOK": {
										"summary": "The response for the readiness request.",
										"value": "ready"
									},
									"readyzResponseFailure": {
										"summary": "The response for the readiness request with errors.",
										"value": "not ready"
									}
								}
							}
						},
						"headers": {
							"content-type": {
								"schema": {
									"type": "string"
								},
								"description": "e.g. text/plain"
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/spec": {
			"get": {
				"operationId": "serverSpec",
				"summary": "Get the OpenAPI specification for the endpoints",
				"tags": ["Info"],
				"responses": {
					"200": {
						"description": "The OpenAPI spec for the endpoints.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServerSpecResponse"
								},
								"examples": {
									"specResponse": {
										"summary": "The response for the spec request.",
										"value": {
											"openapi": "3.1.0",
											"info": {},
											"paths": {}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/login": {
			"post": {
				"operationId": "authenticationLogin",
				"summary": "Login to the server",
				"tags": ["Authentication"],
				"requestBody": {
					"description": "Perform a login on the server.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LoginRequest"
							},
							"examples": {
								"loginRequestExample": {
									"summary": "The request to login to the server.",
									"value": {
										"email": "user@example.com",
										"password": "MyPassword123!"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response from a login on the server.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LoginResponse"
								},
								"examples": {
									"loginResponseExample": {
										"summary": "The response for the login request.",
										"value": {
											"expiry": 1722514341067
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/logout": {
			"post": {
				"operationId": "authenticationLogout",
				"summary": "Logout from the server",
				"tags": ["Authentication"],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Perform a logout on the auth token.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LogoutRequest"
							},
							"examples": {
								"logoutRequestExample": {
									"summary": "The request to logout from the server.",
									"value": {
										"token": "eyJhbGciOiJIU...sw5c"
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/refresh": {
			"post": {
				"operationId": "authenticationRefreshToken",
				"summary": "Refresh an authentication token",
				"tags": ["Authentication"],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Perform a refresh of the auth token.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RefreshTokenRequest"
							},
							"examples": {
								"refreshTokenRequestExample": {
									"summary": "The request to refresh an auth token.",
									"value": {
										"token": "eyJhbGciOiJIU...sw5c"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response from a refresh on the auth token.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RefreshTokenResponse"
								},
								"examples": {
									"refreshTokenResponseExample": {
										"summary": "The response for the refresh token request.",
										"value": {
											"expiry": 1722514341067
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/password": {
			"put": {
				"operationId": "authenticationUpdatePassword",
				"summary": "Update the current user's password",
				"tags": ["Authentication"],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Update the current user's password.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdatePasswordRequest"
							},
							"examples": {
								"updatePasswordRequestExample": {
									"summary": "The request to update the current user's password.",
									"value": {
										"currentPassword": "MyNewPassword123!",
										"newPassword": "MyNewPassword123!"
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/admin/users": {
			"post": {
				"operationId": "authenticationAdminCreateUser",
				"summary": "Create a new user",
				"tags": ["Authentication Admin"],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Create a new user as an admin.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AdminUserCreateRequest"
							},
							"examples": {
								"createUserRequestExample": {
									"summary": "The request to create a new user.",
									"value": {
										"email": "user@example.com",
										"password": "MyPassword123!",
										"userIdentity": "did:example:123456789abcdefghi",
										"organizationIdentity": "did:example:123456789abcdefghi",
										"scope": ["scope1", "scope2"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/admin/users/{email}": {
			"put": {
				"operationId": "authenticationAdminUpdateUser",
				"summary": "Update an existing user",
				"tags": ["Authentication Admin"],
				"parameters": [
					{
						"name": "email",
						"description": "The user email.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "user@example.com"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Update a user as an admin.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AdminUserUpdateRequest"
							},
							"examples": {
								"updateUserRequestExample": {
									"summary": "The request to update an existing user.",
									"value": {
										"userIdentity": "did:example:123456789abcdefghi",
										"organizationIdentity": "did:example:123456789abcdefghi",
										"scope": ["scope1", "scope2"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			},
			"get": {
				"operationId": "authenticationAdminGetUser",
				"summary": "Get existing user",
				"tags": ["Authentication Admin"],
				"parameters": [
					{
						"name": "email",
						"description": "The user email.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "user@example.com"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Get a user as an admin.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AuthenticationUser"
								},
								"examples": {
									"getUserResponseExample": {
										"summary": "The response to get an existing user.",
										"value": {
											"email": "user@example.com",
											"userIdentity": "did:example:123456789abcdefghi",
											"organizationIdentity": "did:example:123456789abcdefghi",
											"scope": ["scope1", "scope2"]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "authenticationAdminRemoveUser",
				"summary": "Remove existing user",
				"tags": ["Authentication Admin"],
				"parameters": [
					{
						"name": "email",
						"description": "The user email.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "user@example.com"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/admin/users/{email}/password": {
			"put": {
				"operationId": "authenticationAdminUpdateUserPassword",
				"summary": "Update an existing user password",
				"tags": ["Authentication Admin"],
				"parameters": [
					{
						"name": "email",
						"description": "The user email.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "user@example.com"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Update a users password as an admin.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AdminUserUpdatePasswordRequest"
							},
							"examples": {
								"updateUserPasswordRequestExample": {
									"summary": "The request to update an existing user password.",
									"value": {
										"newPassword": "MyNewPassword123!"
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/admin/users/identity/{identity}": {
			"get": {
				"operationId": "authenticationAdminGetByIdentityUser",
				"summary": "Get existing user by identity",
				"tags": ["Authentication Admin"],
				"parameters": [
					{
						"name": "identity",
						"description": "The user identity.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:example:123456789abcdefghi"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Get a user as an admin.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AuthenticationUser"
								},
								"examples": {
									"getUserResponseExample": {
										"summary": "The response to get an existing user.",
										"value": {
											"email": "user@example.com",
											"userIdentity": "did:example:123456789abcdefghi",
											"organizationIdentity": "did:example:123456789abcdefghi",
											"scope": ["scope1", "scope2"]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/audit": {
			"post": {
				"operationId": "authenticationAuditCreate",
				"summary": "Create an authentication audit entry",
				"tags": ["Authentication Audit"],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Create an authentication audit entry.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AuditCreateRequest"
							},
							"examples": {
								"authenticationAuditCreateRequestExample": {
									"summary": "The request to create an authentication audit entry.",
									"value": {
										"actorId": "user@example.com",
										"event": "login-success",
										"data": {
											"organizationIdentity": "did:example:org1"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "The rest request ended in created response.",
						"headers": {
							"location": {
								"schema": {
									"type": "string"
								},
								"description": "e.g. 018f0b53d5d5704fa3a06d6ed2478575"
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			},
			"get": {
				"operationId": "authenticationAuditQuery",
				"summary": "Query authentication audit entries",
				"tags": ["Authentication Audit"],
				"parameters": [
					{
						"name": "actorId",
						"description": "The actor identifier to filter by.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "user@example.com"
					},
					{
						"name": "organizationId",
						"description": "The organization identifier to filter by.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "tenantId",
						"description": "The tenant identifier to filter by.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nodeId",
						"description": "The node identifier to filter by.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "event",
						"description": "The event to filter by.",
						"in": "query",
						"required": false,
						"schema": {
							"anyOf": [
								{
									"$ref": "#/components/schemas/AuthAuditEvent"
								},
								{
									"type": "string"
								}
							]
						},
						"example": "login-success"
					},
					{
						"name": "startDate",
						"description": "The inclusive start date for filtering, in ISO 8601 format.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "2026-01-01T00:00:00.000Z"
					},
					{
						"name": "endDate",
						"description": "The inclusive end date for filtering, in ISO 8601 format.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "2026-01-31T23:59:59.999Z"
					},
					{
						"name": "cursor",
						"description": "The pagination cursor.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "limit",
						"description": "The maximum number of results to return.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "50"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Response from querying authentication audit entries.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AuditQueryResponse"
								},
								"examples": {
									"authenticationAuditQueryResponseExample": {
										"summary": "The response for querying authentication audit entries.",
										"value": {
											"entries": [
												{
													"id": "018f0b53d5d5704fa3a06d6ed2478575",
													"actorId": "user@example.com",
													"dateCreated": "2026-01-12T09:05:23.123Z",
													"event": "login-success",
													"data": {
														"organizationIdentity": "did:example:org1"
													}
												}
											],
											"cursor": "next-cursor"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/audit/{id}": {
			"get": {
				"operationId": "authenticationAuditGet",
				"summary": "Get an authentication audit entry",
				"tags": ["Authentication Audit"],
				"parameters": [
					{
						"name": "id",
						"description": "The audit entry id.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "018f0b53d5d5704fa3a06d6ed2478575"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Response from getting an authentication audit entry.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AuthenticationAuditEntry"
								},
								"examples": {
									"authenticationAuditGetResponseExample": {
										"summary": "The response for getting an authentication audit entry.",
										"value": {
											"id": "018f0b53d5d5704fa3a06d6ed2478575",
											"actorId": "user@example.com",
											"dateCreated": "2026-01-12T09:05:23.123Z",
											"event": "login-success",
											"data": {
												"organizationIdentity": "did:example:org1"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			},
			"put": {
				"operationId": "authenticationAuditUpdate",
				"summary": "Update an authentication audit entry",
				"tags": ["Authentication Audit"],
				"parameters": [
					{
						"name": "id",
						"description": "The audit entry id.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "018f0b53d5d5704fa3a06d6ed2478575"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Update an authentication audit entry.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AuditUpdateRequest"
							},
							"examples": {
								"authenticationAuditUpdateRequestExample": {
									"summary": "The request to update an authentication audit entry.",
									"value": {
										"data": {
											"organizationIdentity": "did:example:org1"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "authenticationAuditRemove",
				"summary": "Remove an authentication audit entry",
				"tags": ["Authentication Audit"],
				"parameters": [
					{
						"name": "id",
						"description": "The audit entry id.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "018f0b53d5d5704fa3a06d6ed2478575"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}": {
			"get": {
				"operationId": "identityResolve",
				"summary": "Resolve an identity",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to resolve.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Response to resolving an identity.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/w3c-did/DidDocument"
								},
								"examples": {
									"identityResolveResponseExample": {
										"value": {
											"@context": "https://www.w3.org/ns/did/v1",
											"id": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a",
											"service": [
												{
													"id": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a#revocation",
													"type": "RevocationBitmap2022",
													"serviceEndpoint": "data:application/octet-stream;base64,eJyzMmAAAwABr"
												}
											]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "identityRemove",
				"summary": "Remove an identity",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to remove.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity": {
			"post": {
				"operationId": "identityCreate",
				"summary": "Create an identity",
				"tags": ["Identity"],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create an identity.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityCreateRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating an identity.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/w3c-did/DidDocument"
								},
								"examples": {
									"identityCreateResponseExample": {
										"value": {
											"@context": "https://www.w3.org/ns/did/v1",
											"id": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a",
											"service": [
												{
													"id": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a#revocation",
													"type": "RevocationBitmap2022",
													"serviceEndpoint": "data:application/octet-stream;base64,eJyzMmAAAwABr"
												}
											]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verification-method": {
			"post": {
				"operationId": "identityVerificationMethodCreate",
				"summary": "Create an identity verification method",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the verification method for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create a verification method.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityVerificationMethodCreateRequest"
							},
							"examples": {
								"identityVerificationMethodCreateRequestExample": {
									"value": {
										"verificationMethodType": "assertionMethod",
										"verificationMethodId": "my-assertion"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating a verification method.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/w3c-did/DidDocumentVerificationMethod"
								},
								"examples": {
									"identityVerificationMethodCreateResponseExample": {
										"value": {
											"id": "did:iota:tst:0x70ce5abe69e7c56dd69684dd6da65812b9758b03a0081331ca560b34d73d5ff0#my-assertion",
											"controller": "did:iota:tst:0x70ce5abe69e7c56dd69684dd6da65812b9758b03a0081331ca560b34d73d5ff0",
											"type": "JsonWebKey2020",
											"publicKeyJwk": {
												"kty": "OKP",
												"alg": "EdDSA",
												"kid": "f_fj3rGsZFSYvnS_xv5MgyIBlExq-lgDciu0YQ--S3s",
												"crv": "Ed25519",
												"x": "SFm32z7y9C17olpaTeocG25WV2CNTUl5MhM679Z4bok"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verification-method/{verificationMethodId}": {
			"delete": {
				"operationId": "identityVerificationMethodRemove",
				"summary": "Remove an identity verification method",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to remove the verification method from.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					},
					{
						"name": "verificationMethodId",
						"description": "The verification method to remove.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "my-assertion"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/service": {
			"post": {
				"operationId": "identityServiceCreate",
				"summary": "Create an identity service",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the service for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create a service.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityServiceCreateRequest"
							},
							"examples": {
								"identityServiceCreateRequestExample": {
									"value": {
										"serviceId": "did:example:123#linked-domain",
										"type": "LinkedDomains",
										"endpoint": "https://bar.example.com"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating a service.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/w3c-did/DidService"
								},
								"examples": {
									"identityServiceCreateResponseExample": {
										"value": {
											"id": "did:example:123#linked-domain",
											"type": "LinkedDomains",
											"serviceEndpoint": "https://bar.example.com"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/service/{serviceId}": {
			"delete": {
				"operationId": "identityServiceRemove",
				"summary": "Remove an identity service",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to remove the service from.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					},
					{
						"name": "serviceId",
						"description": "The service to remove.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:example:123#linked-domain"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/alias": {
			"post": {
				"operationId": "identityAlsoKnownAsCreate",
				"summary": "Add an alias to the alsoKnownAs property on the document",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the alias for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create an alias for an identity.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityAlsoKnownAsCreateRequest"
							},
							"examples": {
								"identityAlsoKnownAsCreateRequestExample": {
									"value": {
										"alias": "did:example:123"
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/alias/{alias}": {
			"delete": {
				"operationId": "identityAlsoKnownAsRemove",
				"summary": "Remove an alias from the alsoKnownAs property on the document",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to remove the alias from.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					},
					{
						"name": "alias",
						"description": "The alias to remove.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:example:123"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verifiable-credential/{verificationMethodId}": {
			"post": {
				"operationId": "identityVerifiableCredentialCreate",
				"summary": "Create an identity verifiable credential",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the verification credential for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a"
					},
					{
						"name": "verificationMethodId",
						"description": "The verification method id to use.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "my-assertion"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create a verifiable credential.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityVerifiableCredentialCreateRequest"
							},
							"examples": {
								"identityVerifiableCredentialCreateRequestExample": {
									"value": {
										"credentialId": "https://example.com/credentials/3732",
										"subject": {
											"@context": "https://schema.org",
											"@type": "Person",
											"id": "did:entity-storage:0x4757993355b921a8229bd780f30921b6a0216a72e6c3f37a09d13b8426a17def",
											"name": "Jane Doe"
										},
										"revocationIndex": 5
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating a verifiable credential.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityVerifiableCredentialCreateResponse"
								},
								"examples": {
									"identityVerifiableCredentialCreateResponseExample": {
										"value": {
											"verifiableCredential": {
												"@context": [
													"https://www.w3.org/2018/credentials/v1",
													"https://schema.org"
												],
												"id": "https://example.com/credentials/3732",
												"type": ["VerifiableCredential", "Person"],
												"credentialSubject": {
													"id": "did:entity-storage:0x4757993355b921a8229bd780f30921b6a0216a72e6c3f37a09d13b8426a17def",
													"name": "Jane Doe"
												},
												"issuer": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a",
												"issuanceDate": "2025-01-24T09:21:51.500Z",
												"credentialStatus": {
													"id": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a#revocation",
													"type": "BitstringStatusList",
													"revocationBitmapIndex": "5"
												}
											},
											"jwt": "eyJraWQiOi...D1Z3AQ"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/verifiable-credential/verify/document": {
			"post": {
				"operationId": "identityVerifiableCredentialVerifyDocument",
				"summary": "Verify an identity verifiable credential document",
				"tags": ["Identity"],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to verify a verifiable credential.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "https://schema.twindev.org/w3c-did/DidVerifiableCredential"
							},
							"examples": {
								"identityVerifiableCredentialVerifyDocumentRequestExample": {
									"value": {
										"@context": ["https://www.w3.org/2018/credentials/v1", "https://schema.org"],
										"id": "https://example.com/credentials/3732",
										"type": ["VerifiableCredential", "Person"],
										"credentialSubject": {
											"id": "did:entity-storage:0x4757993355b921a8229bd780f30921b6a0216a72e6c3f37a09d13b8426a17def",
											"name": "Jane Doe"
										},
										"issuer": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a",
										"issuanceDate": "2025-01-24T09:21:51.500Z",
										"credentialStatus": {
											"id": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a#revocation",
											"type": "BitstringStatusList",
											"revocationBitmapIndex": "5"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to verifying a verifiable credential.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityVerifiableCredentialVerifyResponse"
								},
								"examples": {
									"identityVerifiableCredentialVerifyResponseExample": {
										"value": {
											"revoked": false,
											"verifiableCredential": {
												"@context": [
													"https://www.w3.org/2018/credentials/v1",
													"https://schema.org"
												],
												"id": "https://example.com/credentials/3732",
												"type": ["VerifiableCredential", "Person"],
												"credentialSubject": {
													"id": "did:entity-storage:0x4757993355b921a8229bd780f30921b6a0216a72e6c3f37a09d13b8426a17def",
													"name": "Jane Doe"
												},
												"issuer": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a",
												"issuanceDate": "2025-01-24T09:21:51.500Z",
												"credentialStatus": {
													"id": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a#revocation",
													"type": "BitstringStatusList",
													"revocationBitmapIndex": "5"
												}
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/verifiable-credential/verify": {
			"get": {
				"operationId": "identityVerifiableCredentialVerify",
				"summary": "Verify an identity verifiable credential",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "jwt",
						"description": "The jwt to verify.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "eyJraWQiOi...D1Z3AQ"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Response to verifying a verifiable credential.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityVerifiableCredentialVerifyResponse"
								},
								"examples": {
									"identityVerifiableCredentialVerifyResponseExample": {
										"value": {
											"revoked": false,
											"verifiableCredential": {
												"@context": [
													"https://www.w3.org/2018/credentials/v1",
													"https://schema.org"
												],
												"id": "https://example.com/credentials/3732",
												"type": ["VerifiableCredential", "Person"],
												"credentialSubject": {
													"id": "did:entity-storage:0x4757993355b921a8229bd780f30921b6a0216a72e6c3f37a09d13b8426a17def",
													"name": "Jane Doe"
												},
												"issuer": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a",
												"issuanceDate": "2025-01-24T09:21:51.500Z",
												"credentialStatus": {
													"id": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a#revocation",
													"type": "BitstringStatusList",
													"revocationBitmapIndex": "5"
												}
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verifiable-credential/revoke/{revocationIndex}": {
			"get": {
				"operationId": "identityVerifiableCredentialRevoke",
				"summary": "Revoke an identity verifiable credential",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to revoke the verification credential for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a"
					},
					{
						"name": "revocationIndex",
						"description": "The revocation index to revoke.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "5"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verifiable-credential/unrevoke/{revocationIndex}": {
			"get": {
				"operationId": "identityVerifiableCredentialUnrevoke",
				"summary": "Unrevoke an identity verifiable credential",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to unrevoke the verification credential for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a"
					},
					{
						"name": "revocationIndex",
						"description": "The revocation index to unrevoke.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "5"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verifiable-presentation/{verificationMethodId}": {
			"post": {
				"operationId": "identityVerifiablePresentationCreate",
				"summary": "Create an identity verifiable presentation",
				"tags": ["Identity"],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the verification presentation for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a"
					},
					{
						"name": "verificationMethodId",
						"description": "The verification method id to use.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "my-assertion"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create a verifiable presentation.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityVerifiablePresentationCreateRequest"
							},
							"examples": {
								"identityVerifiablePresentationCreateRequestExample": {
									"value": {
										"presentationId": "https://example.com/presentation/3732",
										"verifiableCredentials": ["eyJraWQiOi...D1Z3AQ"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating a verifiable presentation.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityVerifiablePresentationCreateResponse"
								},
								"examples": {
									"IIdentityVerifiablePresentationCreateResponseExample": {
										"value": {
											"verifiablePresentation": {
												"@context": [
													"https://www.w3.org/2018/credentials/v1",
													"https://schema.org"
												],
												"id": "presentationId",
												"type": ["VerifiablePresentation", "Person"],
												"verifiableCredential": ["eyJraWQiOi...D1Z3AQ"],
												"holder": "did:entity-storage:0xcea318e06e89f3fb4048160770effd84d0cfa5801fee13dfa6f9413a00429cec"
											},
											"jwt": "eyJraWQiOi...D1Z3AQ"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "errorMessage",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "errorMessage"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/verifiable-presentation/verify/document": {
			"post": {
				"operationId": "identityVerifiablePresentationVerifyDocument",
				"summary": "Verify an identity verifiable presentation document",
				"tags": ["Identity"],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to verify a verifiable presentation.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "https://schema.twindev.org/w3c-did/DidVerifiablePresentation"
							},
							"examples": {
								"identityVerifiablePresentationVerifyDocumentRequestExample": {
									"value": {
										"@context": ["https://www.w3.org/2018/credentials/v1", "https://schema.org"],
										"id": "https://example.com/credentials/3732",
										"type": ["VerifiableCredential", "Person"],
										"verifiableCredential": [
											{
												"@context": [
													"https://www.w3.org/2018/credentials/v1",
													"https://schema.org"
												],
												"id": "https://example.com/credentials/3732",
												"type": ["VerifiableCredential", "Person"],
												"credentialSubject": {
													"id": "did:entity-storage:0x4757993355b921a8229bd780f30921b6a0216a72e6c3f37a09d13b8426a17def",
													"name": "Jane Doe"
												},
												"issuer": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a",
												"issuanceDate": "2025-01-24T09:21:51.500Z",
												"credentialStatus": {
[...]
